
body {
    position: relative;
    font-family: 'Exo', 'Merriweather Sans', sans-serif;
    background-color: #EAEBED;
    font-size: 16px;
}

header {
    background-color: #006989;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 1em;;
}
main .events, .localWthr, .localNews, .joinUs {
    height: auto;
    border: 2px solid gray;
    padding: 1rem;
    background-color: #006989;
    margin-top: 1em;
}
main div.placeholder {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: auto;
    border: 2px solid gray;
    padding: 1rem;
    margin-bottom: 15px;
    background-color: #006989;
    margin-top: 1em;
}
main div.placeholder div {
    display: block;
    border: 1px solid rgb(170, 170, 170);
    padding: 10px;
}
main div.spotTwo, div.spotOne, div.spotThree {
    margin: 0;
    text-align: center;
    color: #006989;
    background-color:  #EAEBED;
}
main div.spotOne h2, div.spotTwo h2, div.spotThree h2 {
    color: #6B4B3E;
}
main div.spotOne a, div.spotTwo a, div.spotThree a {
    color: #6B4B3E;
}
main div.spotOne img, div.spotTwo img, div.spotThree img {
    max-width: 48px;
}
main div.spotOne p.alternate, div.spotTwo p.alternate, div.spotThree p.alternate {
    color: #6B4B3E;
    font-size: 1em;
}
.joinUs, .placeholder div.spotThree {
    display: none;
}
main div.hero{
    position: relative;

}
.heroImg {
    position: relative;
    display: block;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1em;

}
.heroBtn {
    position: absolute;
    background-color: #6B4B3E; 
    color: #dff51d;
    padding: .5rem .5rem;
    text-decoration: none;
    text-align: center;
    border-radius: 1rem;
    height: auto;
    bottom: 1rem;
    right: 1rem;
    box-shadow: 5px 5px 5px;

}
.events h1, .events h2, .events p, .events a {
    margin: .2em;
    align-content: center;
    color:  #EAEBED; 
    text-align: center; 
}
main div.events h1, div.localNews h1 {
    color: #EAEBED;
}
.events a {
    text-decoration: none;
    margin-left: 8em;
    color:#dff51d;
}
.events a:hover {
    text-decoration: none;
    background-color: #FE654F;
}
.localNews {
    text-align: center;
    color: #EAEBED;
}
.localWthr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em 1fr 1em 1em 2em;
}
.localWthr img.wIcon {
    grid-column: 1/2;
    grid-row: 2/4;
}
.localWthr p span.temp {
    grid-column: 2/3;
    grid-row: 2/3;
}
.localWthr h2, .localWthr p {
    margin: 0;
}
.localWthr h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
}
.localWthr .iconDesc {
    grid-column: 2/3;
    grid-row: 3/4;
}
.localWthr hr {
    grid-column: 1/3;
    grid-row: 4/5;
}
.localWthr .ws {
    grid-column: 1/2;
    grid-row: 5/6;
}
.localWthr .windSpeed {
    grid-column: 2/3;
    grid-row: 5/6;
}
.localWthr .wc {
    grid-column: 1/2;
    grid-row: 6/7;
}
.localWthr .wChill {
    grid-column: 2/3;
    grid-row: 6/7;
}
.localWthr h2{
    color: #EAEBED;
    height: 1em;
}
.localWthr .wIcon {
    max-width: 80%;
    justify-self: center;
    margin: 0;
}
.localWthr p {
    color: #EAEBED;
    justify-self: center;
}
.localWthr p.deg {
    font-size: 2.5rem;
    color: #dff51d;
    justify-self: center;
    align-self: center;
    font-weight: 600;
}
nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size:  2rem;
    color: #FE654F;
    width: 50px;
    height: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li a {
    display: block;
    padding: .8rem ;
    text-decoration: none;
    border: 1px solid black;
    color: #EAEBED;
    background-color: #6B4B3E;
    text-align: center;
    font-size: 5em;
}


header nav #hamBtn span:nth-child(1) { display: block;}
header nav #hamBtn span:nth-child(2) { display: none;}

header nav #hamBtn.open span:nth-child(1) { display: none;}
header nav #hamBtn.open span:nth-child(2) { display: block;}

.close {
    background-color: #FE654F;
    color: white;
    border-radius: 1.5rem;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div p {
    display: block;
    flex-direction: column;
    font-size: 1.75em;
    margin: 0;
    padding: 0 6px 0px 6px;
    color: #EAEBED;
    font-weight: 550;
}
nav div p.lineTwo {
    font-size: 1em;
    padding: 0px 0px 0px 12px;
}

nav div.social{
    display: flex;
    padding-left: 1em;
}
nav div.social img {
    padding: .4em;
}
.todaysDate {
    align-items: center;
    text-align: center;
    border: 2px solid rgb(88, 83, 83);
    margin: 8px 0 0 0;
    padding: .5em;
    color: #EAEBED;
    font-size: 1.5em;
    font-weight: 500;
    background-color:#6B4B3E;
    border: 2px solid gray;
}
ul {
    display: none;
}
ul.open {
    display: block;
    position: absolute;
    z-index: 1;
    height: 1rem;
    margin-top: 6.5em;
    right: 0;
    width: 100%
  }

ul li a:hover, footer a:hover {
    background-color:#FE654F;
    color:  #dff51d;
    border-radius: 4em;
}
footer {
    background-color: #006989;
}
footer div { 
	display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    align-items: center;
    text-align: center;
    margin: 0;
}
footer p { 
    margin: 0;
    padding-top: 5px;
    color: #EAEBED;
    line-height: 1.5;
}
footer a {
    padding-top: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #EAEBED;
    width: 150px;
    height: 30px;
}
footer div p {
    display: flex;
    flex-flow: column wrap;
}
footer div p span.name {
    font-weight: 850;
    font-size: 18px;
    letter-spacing: .1em;
}
footer div p span.break, span.break1, span.break2 {
    display: none;
}

footer p.compName {
    font-size: 19px;
}
footer img {
    padding-top: 10px;
}
hr {
    height: 2px;
    padding: 0;
    border: none;
    align-items: center;
    background-color: gray;
}
#banner {
    background-color: #FE654F;
    color: black;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
}

#banner {
    display: none;
}

#banner.open {
    display: block;
}

main.disc {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.disc img {
    margin-top: 1em;
    border: 2px solid #EAEBED;
}
.intro{
    margin: 1em 0 1em 0;
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.4);
    padding: 2px 16px;
    background-color: #006989;
    color: #EAEBED;
    text-align: center;

}
.card {
    margin: 1em 0 1em 0;
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.4);
    padding: 2px 16px;
    background-color: #006989;
    color: #EAEBED;
    text-align: center;
    width: 375px;
}
.vert{
    margin: 1em 0 1em 0;
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.4);
    padding: 2px 16px;
    width: 270px;
    background-color: #006989;
    color: #EAEBED;
    text-align: center;
    border-radius: 1em;
}
ul.demographics {
    display: block;
    margin: 0 0 1em 0;
    text-align: left;
}
.roster {
    font-weight: 600;
}
main.disc img[data-src] {
    filter: blur(0.2em);
  }
  
main.disc img {
    filter: blur(0em);
    transition: filter 0.5s;
  }
.join h1 {
    margin: 0 auto;
    text-align: center;
}

form fieldset {
    border: none;
    font-size: 1.5em;
    padding-block-end: 0;
    padding-inline-end: 0;
    padding-inline-start: 0;
    padding-block-start: 0;
    margin-inline-start: 0;
    margin-block-end: 0;
    margin-inline-end: 0;
}
form legend {
    font-size: 2rem;
    font-weight: 600;
    color: #006989;
}
form label.info {
    display: flex;
    flex-direction: column;
    margin-top: .75em;
    font-size: 1em;
    max-width: 25rem;
}
form fieldset:nth-child(1), form fieldset:nth-child(2) {
    margin: .75em 0 1em 0;
}
form label.info input, form label.info textarea{
    border-radius: .25em;
    padding: 5px 10px;
}
.join form label.info input:required {
    border-left: 10px #fa2222 solid;
}
form label.info textarea {
    height: 3rem;
    margin-bottom: .5em;
}
form label.level {
    display: block;
    padding: 15px 0;  
}
form label.level input {
    width: 1em;
    height: 1em;
}

form input.submitBtn{
    width: 100%;
    height: 44px;
    margin: 0 0 1em 0;
    font-size: 2em;
    font-weight: 600;
    border-radius: 15px;
    background-color: #FE654F;
    border: none;
}
.thanks {
    margin: 1em 1em 1em 1em;
}
aside {
    display: none;
}
div.viewBtns {
    display: flex;
    justify-content : center;
}
.dir input {
    border: 5px solid #006989;
    margin: 0 1em;
    width: 48px;
    border-radius: .5em;
}
.dir div.grid section img {
    max-width: 96px;
}
.dir div.grid section {
    border: solid 2px grey;
    border-radius: 6px;
    margin: 1em auto;
    text-align: center;
    padding: .75em 0;
    box-shadow: 5px 5px 5px #006989;
    width: 350px;
    height: 225px;
    align-self: center;
    justify-self: center;
}  
div.grid section p {
    margin: 0;
    padding: 2px;
}
div.grid section a {
    margin: 0;
    padding: 2px;
    font-size: 1.2em;
}
.dir h1 {
    margin-left: .5em;
}
.dir div.list section img {
    display: none;
}
.dir div section {
    margin: 1em 0;
}
.dir div.directory div.list section:nth-child(odd) {
    background-color: rgb(194, 219, 235);
}

.dir div.list h3, .dir div.list p, .dir div.list a {
    margin: 0 1em;
    padding: 3px 0;
}
.dir div.list section {
    padding-top: 15px;
    padding-bottom: 15px;
}
.wireframes {
    background-color: #EAEBED;
}
.wireframes img {
    min-width: 96%;
    max-width: 96%;
    border: 5px solid grey;
    margin: .5em 0;
}
.wireframes a {
    font-size: 2em;
}

.contact aside.contact {
    display: block;
    padding-left: 1em;
}

.contact h1 {
    padding-left: 1em;
    color: #006989;
}
.contact h2 {
    display: none;
}
.contact {
    display: grid;
    background-color: #EAEBED;
}
.contact form label.info input, .contact label.info textarea{
    max-width: 90%;
    padding-left: 1em;
    background-color: #EAEBED ;
    border: none;
    border-bottom: groove;
    border-radius: 0;
}
.contact label.info textarea::placeholder{
    padding-top: .5em;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
.contact p {
    margin: 0;
    padding: 10px;
}
.contact h3 {
    margin: .3em 0 ;
    align-self: center;
}
.contact h1 {
    margin: .25em 0;
    padding: 0;
}
.contact aside.contact {
    display: grid;
    grid-template-columns: 5em 1fr;
}
.contact fieldset {
    padding: 10px;
}
.contact input.submitBtn {
    width: 94%;
    margin: 0 10px 10px 10px;
}
.hours {
    grid-column: 1/3;
}
.attr {
    padding: 10px 10px 0 10px;
}